USE [master]
GO
/****** Object:  Database [QLTB_DienThoai_18T1021093]    Script Date: 1/2/2022 4:26:51 PM ******/
CREATE DATABASE [QLTB_DienThoai_18T1021093]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTB_DienThoai_18T1021093', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLTB_DienThoai_18T1021093.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTB_DienThoai_18T1021093_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLTB_DienThoai_18T1021093_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTB_DienThoai_18T1021093].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTB_DienThoai_18T1021093]
GO
USE [QLTB_DienThoai_18T1021093]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/2/2022 4:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[HovaTen] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 1/2/2022 4:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[TenTB] [nvarchar](150) NOT NULL,
	[HangDT] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[ManHinh] [nvarchar](50) NULL,
	[HeDieuHanh] [nvarchar](50) NULL,
	[Chip] [nvarchar](50) NULL,
	[RAM] [nvarchar](50) NULL,
	[BoNhoTrong] [nvarchar](50) NULL,
	[Gia] [nchar](10) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
 CONSTRAINT [PK_ThietBi] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([MaAdmin], [UserName], [Password], [HovaTen], [SDT], [DiaChi]) VALUES (1, N'admin', N'hiep123', N'Hữu Hiệp', N'0323526480', N'Huế')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[ThietBi] ON 

INSERT [dbo].[ThietBi] ([MaTB], [TenTB], [HangDT], [MauSac], [ManHinh], [HeDieuHanh], [Chip], [RAM], [BoNhoTrong], [Gia], [SoLuongTon]) VALUES (1, N'iPhone 13 Pro Max', N'iPhone', N'Vàng, Bạc, Xám', N'OLED6.7"Super Retina XDR', N'iOS 15', N'
Apple A15 Bionic', N'6 GB', N'128 GB, 256 GB', N'3499000   ', 15)
INSERT [dbo].[ThietBi] ([MaTB], [TenTB], [HangDT], [MauSac], [ManHinh], [HeDieuHanh], [Chip], [RAM], [BoNhoTrong], [Gia], [SoLuongTon]) VALUES (2, N'iPhone 12 Pro Max', N'iPhone', N'Vàng, B?c, Xám', N'OLED6.7"Super Retina XDR', N'iOS 15', N'Apple A14 Bionic', N'6 GB', N'128 GB, 256 GB', N'3149000   ', 10)
INSERT [dbo].[ThietBi] ([MaTB], [TenTB], [HangDT], [MauSac], [ManHinh], [HeDieuHanh], [Chip], [RAM], [BoNhoTrong], [Gia], [SoLuongTon]) VALUES (3, N'Samsung Galaxy Z Fold3 5G', N'SamSung', N'B?c, Ðen, Xanh rêu', N'Dynamic AMOLED 2XChính 7.6" & Ph? 6.2"Full HD+', N'Android 11', N'Snapdragon 888', N'12 GB', N'256 GB', N'4199000   ', 20)
SET IDENTITY_INSERT [dbo].[ThietBi] OFF
GO
USE [master]
GO
